<mat-toolbar color="primary">
  <button mat-button style="font-size: large;" (click)="home()">
    E-commerce Website 
  </button>
  
  <ng-container *ngIf="authService.currentUser$ | async as user ; else loginButton">
    <button mat-button style="margin-left: 58%;">
      <mat-icon>account_circle</mat-icon>
        {{user.email}} 
    </button>
    <button mat-button routerLink="cart">
      <mat-icon>shopping_cart</mat-icon>
      Cart
    </button>
    <button mat-button routerLink="login" style="cursor :pointer;" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <sup style="font-size:medium;margin-left: 2px;">Logout</sup>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login" style="cursor :pointer;">
      <mat-icon>login</mat-icon>
      <sup style="font-size:medium;margin-left: 2px;">Login</sup>
    </button>
  </ng-template>
</mat-toolbar>

<!-- routing  -->
<div class="content">
  <router-outlet></router-outlet>
</div>
